[Unit]
Description="Updating the saja apps automatically on startup"
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/srv/wnf-proxy-app/app/serverconfig/update-app.sh > /var/log/app-update.log 2>&1


[Install]
WantedBy=multi-user.target